<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="class container-fluid">
        <a class="navbar-brand" href="#">
            <span class="title">BackOffice</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listar-users']">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listar-events']">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listar-books']">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/listar-clubs']">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/chat-create']">New Chat</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <button class="btn btn-outline-info me-2" (click)="logout()"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
            </ul>
        </div>
    </div>
</nav>