<div class="login">
    <h1>Book Hub</h1>
    <div class="login-card">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="LOGIN">
                <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

                    <mat-card class="box">
                        <mat-card-header>
                            <mat-card-title>Log in</mat-card-title>
                        </mat-card-header>
                        <form class="mt-3" [formGroup]="signInForm" (ngSubmit)="login()">
                            <div class="mb-3">
                                <input type="text" formControlName="username" class="form-control form-control-lg"
                                    placeholder="Username" />
                                <div class="text-danger" *ngIf="
                                signInForm.get('username')?.hasError('required') &&
                                signInForm.get('username')?.touched
                                ">
                                    <span>El username del user és obligatori</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="password" formControlName="password" class="form-control form-control-lg"
                                    placeholder="Password" />
                                <div class="text-danger" *ngIf="
                                signInForm.get('password')?.hasError('required') &&
                                signInForm.get('password')?.touched
                                ">
                                    <span>El password del user és obligatori</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" [disabled]="signInForm.invalid"
                                    class="btn btn-success btn-lg float-end">
                                    ACCEPTAR
                                </button>
                            </div>
                        </form>
                    </mat-card>

                </div>
            </mat-tab>
            <mat-tab label="REGISTER">
                <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                    <mat-card class="box">
                        <mat-card-header>
                            <mat-card-title>Register</mat-card-title>
                        </mat-card-header>
                        <form class="example-form">
                            <mat-card-content>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password">
                                </mat-form-field>
                                <!--<mat-form-field class="example-full-width">
                            <mat-label>Choose a role...</mat-label>
                            <mat-select>
                                <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>-->
                            </mat-card-content>
                            <button mat-stroked-button color="accent" class="btn-block">Register</button>
                        </form>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <h2>Donde leen los que leen</h2>
</div>