<div class="flex-container">
  <div>
    <mat-card>
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle
        >Management of all users in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          class="btn btn-success"
          [routerLink]="['/listar-users']"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Events</mat-card-title>
      <mat-card-subtitle
        >Management of all events in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          [routerLink]="['/listar-events']"
          class="btn btn-success"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Books</mat-card-title>
      <mat-card-subtitle
        >Management of all books in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          [routerLink]="['/listar-books']"
          class="btn btn-success"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Clubs</mat-card-title>
      <mat-card-subtitle
        >Management of all clubs in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          [routerLink]="['/listar-clubs']"
          class="btn btn-success"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Chats</mat-card-title>
      <mat-card-subtitle
        >Management of all chats in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          [routerLink]="['/chat-list']"
          class="btn btn-success"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Comments</mat-card-title>
      <mat-card-subtitle
        >Management of all comments in the application.</mat-card-subtitle
      >
      <mat-card-actions>
        <button
          type="button"
          [routerLink]="['/listar-comments']"
          class="btn btn-success"
          mat-button
        >
          manage...
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
